<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAS.UA.SQLRepository.Properties.Settings.UAModelConnectionString"
            connectionString="Data Source=CASMP\SQLEXPRESS;Initial Catalog=UAModel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>